[2017-10-03 23:24] agkozak opened #3 "Hostname display inconsistency when using tmux"
In [pull request #2](https://github.com/agkozak/agkozak-zsh-theme/pull/2), @jupl reports:

@jupl, I would like to recreate your problem if possible on my end. Can you tell me what operating system you are using and the versions of zsh, tmux, and ssh? Thanks so much!

[2017-10-03 23:39] agkozak commented on #3
Also, @jupl, are you starting tmux first, then SSHing, then creating a new tmux session?

Or are you logging in via SSH first, then starting tmux, then starting a new tmux session?

Thanks.

[2017-12-14 21:22] agkozak opened #4 "Relicensing as MIT"
I would like to relicense the next version of `agkozak-zsh-theme` as MIT for better compatibility with other software projects. @xuanduc987 and @jupl, are you willing to license your contributions as MIT?

[2017-12-15 01:35] xuanduc987 commented on #4
Of courses 🎆

[2017-12-21 15:30] jupl commented on #4
![giphy](https://user-images.githubusercontent.com/2065876/34262260-7c5b1918-e631-11e7-964f-a2ccfb053906.gif)

[2017-12-21 15:30] jupl commented on #4
And for legal reasons if a GIF is not accepted, then yes.

[2017-12-21 15:54] agkozak commented on #4
Thank you, gentlemen!

[2017-12-21 15:54] #4 closed

[2018-05-16 08:00] xificurC opened #5 "emacs' exec-path-from-shell crashes"
Hi,

this theme crashes emacs when using exec-path-from-shell. To reproduce just load the package in emacs and run `(exec-path-from-shell-printf "foo%s" '("bar"))`

[2018-05-16 16:16] agkozak commented on #5
@xificurC,

Thanks for reporting this.

Do you get any sort of error message?

And what is your overall setup, i.e are you running vanilla emacs, Spacemacs -- anything unusual?

Alex

[2018-05-16 16:45] agkozak commented on #5
![exec-path-from-shell-printf](https://user-images.githubusercontent.com/7599319/40131057-b4621ef4-58ed-11e8-88d4-78dd294b2ede.png)

It seems to work for me with no problem.

[2018-05-17 14:41] joeleisner opened #6 "Option to Disable Multi-Line Mode"
I noticed in the most recent update to this theme that the default configuration has switched to a multi-line prompt due to issues with ZSH 5.5 - Is there any way to set a variable to revert it back to a single line prompt?

I noticed in a commit not that long ago that there was, at least initially, a variable called $AGKOZAK_MULTILINE that would allow you toggle between the modes, but I'm unable

[2018-05-17 15:45] agkozak commented on #6
The simple answer is yes -- give me a couple of hours and I'll provide an option for restoring the legacy, one-line prompt, with the proviso that it may not always work perfectly in ZSH 5.5 and later.

ZSH 5.5 [changes](https://github.com/zsh-users/zsh/commit/d8d9fee137a5aa2cf9bf8314b06895bfc2a05518) how the shell calculates cursor position when the prompt has wrapped. [Apparently there are use ca

[2018-05-17 16:56] agkozak commented on #6
All right, the single-line prompt is an option again; just put

    AGKOZAK_MULTILINE=0

before you source the theme in `.zshrc`.

Thanks again for your feedback!

[2018-05-17 17:32] joeleisner commented on #6
Thanks for the quick turn around; Much appreciated!

I definitely understand the choice to switch the theme to a multi-line prompt with the issues surrounding ZSH 5.5, but I have yet to run into those issues as of right now and I much prefer the single-line style.

Once again, thanks for the hard work; This is hands-down the best ZSH theme I've used to date!

[2018-05-17 17:49] agkozak commented on #6
You're very kind.

[2018-05-18 08:30] xificurC commented on #5
Hi @agkozak , thank you for your quick response. I really like your prompt, so I hope you're right and there's another issue on my part.

I'm extremely busy right now but the moment I find some spare time I will double check my findings.

What happened was I was getting a SIGTERM (emacs exited 15) with no information whatsoever. Running in gdb got me [this](http://ix.io/1aoa) stacktrace, which was

[2018-05-18 13:51] agkozak commented on #5
Thanks, @xificurC! I'll spin up a VM later and try to recreate what you're seeing.

If you get a chance, though, could you try this? In your `.zshrc`, right before zgen loads my prompt, put

    export AGKOZAK_FORCE_ASYNC_METHOD=none

Reload ZSH and see if that fixes it. What that setting does is to turn off the two asynchronous methods of loading the right prompt. If that makes the problem go awa

[2018-05-18 14:31] agkozak commented on #5
Also, would you share your `.zshrc` with me? I'd like to see if any plugins are conflicting.

[2018-05-18 14:47] xificurC commented on #5
Well, exporting `none` works, exporting `usr1` works, not exporting anything works... I'll leave it as a heisenbug for now and come back if it happens again. Thank you for your time

[2018-05-18 14:56] xificurC commented on #5
The list of plugins I'm loading is
[code]

[2018-05-18 16:30] agkozak commented on #5
I made some additions to the `develop` branch of this repository to try to handle the problem you're running into. The idea is to detect when $TERM is `dumb`; when it is, the asynchronous features are bypassed. See if that helps. Make sure you aren't setting TERM to anything in your dotfiles, though -- then it won't work.

[2018-05-20 23:05] #3 closed

[2018-05-21 16:57] #6 closed

[2018-05-24 04:29] agkozak commented on #5
All right. I pushed out a number of commits to master that relate to Emacs. I don't think you should need to use `AGKOZAK_FORCE_ASYNC_METHOD` in your `.zshrc` anymore. i don't normally use Emacs myself,  so I'm particularly grateful for the feedback.

[2018-05-25 10:48] xificurC commented on #5
Actually I realized I've put exec-path-from-shell into the list of excluded packages, which means (spac)emacs wasn't loading it at all. So my previous test where both `none` and `usr1` worked is moot. I just tried with the latest changes from master and, sadly, no. Both `none` and `usr1` die the same way as before. Not using the prompt or exec-path-from-shell both solve the issue.

[2018-05-25 12:31] agkozak commented on #5
I keep trying to reproduce the error on my own system, but with no luck. I'm running Ubuntu 18.04 in VirtualBox with zsh 5.4.2, agkozak-zsh-theme, Emacs 25.2.2, and Spacemacs 0.300.0.

I'm running the elisp commands both from a buffer (line-by-line, `C-x C-e`) and in `ielm`, both in the terminal version of Emacs (`emacs -nw`) and in the GUI. Everything you describe works without a hitch -- I can p

[2018-06-10 22:43] AGitBoy opened #8 "Prompt disappears on sourcing .zshrc using antigen"
When using antigen, running this command
``` source ~/.zshrc ```

Causes the prompt to not show up. You can still type in commands, and other plugins work, but the prompt will not show up.

[2018-06-12 03:42] agkozak commented on #8
Thanks for reporting this problem. I cannot reproduce it, however. With a simple `.zshrc` that does nothing but source antigen and load my prompt, repeated sourcings only produce the expected message: "Seems agkozak/agkozak-zsh-theme is already installed!"

Would you be willing to share your `.zshrc`? I'll play with it and try to figure out what's happening. Thanks.

[2018-06-12 04:15] AGitBoy commented on #8
Ok. Here is my .zshrc:

[code]

If it is helpful, I'm on Kubuntu 18.04, with zsh version 5.4.2.

Other than this issue, I'm really loving this theme! It's good to find a theme that nearly perfectly fits my tastes and needs.

[2018-06-12 04:55] agkozak commented on #8
Try changing

    antigen theme agkozak/agkozak-zsh-theme

to

    antigen bundle agkozak/agkozak-zsh-theme

That works for me.

I'm going to look further into why `antigen theme` doesn't work properly with my prompt -- I think I can see what's going on, but I really don't use antigen much myself. [Doesn't this look like a similar problem?](https://github.com/zsh-users/antigen/issues/665)

[2018-06-12 14:56] agkozak commented on #8
It’s interesting to note that the author of the [pure](https://wwwapps.ups.com/tracking/tracking.cgi?tracknum=1ZEW96780224231321) prompt appear to have given up making `antigen theme` work with his prompt, and advises people to use `antigen bundle` instead. But I’ll look deeper.

[2018-06-12 16:38] agkozak commented on #8
[It looks as if](https://github.com/zsh-users/antigen/issues/652) something is broken in antigen v2.2.2 but has been fixed in the development version. Try running

    curl -L git.io/antigen-nightly > ~/antigen.zsh

and then see if typing

    zsh
    antigen theme agkozak/agkozak-zsh-theme

leaves you with a working prompt.

If you can confirm that that works, I'll update my documentation to enco

[2018-06-12 20:03] AGitBoy commented on #8
It works now!  Thank you!

[2018-06-12 20:23] agkozak commented on #8
Thanks for helping me to improve my documentation!

[2018-07-07 20:18] borekb commented on #8
I had a similar problem and the only combination that worked for me was `antigen theme` and adding `autoload -Uz promptinit; promptinit` in my `.zshrc`. This is what I use now:

[code]

I'm not sure if promptinit should be required or not but without it, new shell sessions start without a customized prompt. Also, the combination of `antigen bundle` and `promptinit` leads only to the default prompt

[2018-07-07 20:38] agkozak commented on #8
Thanks, @borekb -- I'll be happy to look into this.

Let me just confirm what you have tried so far.  Have you tried using simply

     antigen bundle agkozak/agkozak-zsh-theme

(not `antigen theme`), and if so, does that work?

Also, which version of antigen are you using?

[2018-07-07 20:53] borekb commented on #8
Yes, `antigen bundle`, both with and without `autoload -Uz promptinit; promptinit`, didn't work for me. I had to use `antigen theme` _and_ promptinit.

Oh, I'm still on Antigen 2.2.2, I assumed that they released a newer version since your earlier discussion in this issue but I was wrong. Will try again with the nightly build, sorry!

[2018-07-07 21:04] borekb commented on #8
With Antigen nightly, I couldn't get it working at all. Very strange is that even after switching back to 2.2.2, I couldn't get it working again. My `.zshrc` is as per the comment above, I can get the prompt working for the current shell if I manually invoke `antigen theme borekb/agkozak-zsh-theme@prompt-customization` again but as soon as I create a new session, I'm back to the default prompt. Wh

[2018-07-07 21:04] agkozak commented on #8
Thanks, yes, do try nightly and get back to me -- but either way, thanks for the new information about `antigen bundle` not always working -- I'll want to update the documentation again, at the very least.

[2018-07-07 21:09] borekb commented on #8
By the way, theoretically, if my `.zshrc` looked like this (which I assume should work):

[code]

at which point should the code in `.antigen/bundles/agkozak/agkozak-zsh-theme/agkozak-zsh-theme.plugin.zsh` be executed? Is it at the `antigen apply` command? How does this command know it should invoke that specific file? Is that something about the `.plugin.zsh` extension? Sorry, beginner questions,

[2018-07-08 04:45] agkozak commented on #8
Help me to confirm that the following works. Try using this `.zshrc`:

    source "${funcsourcetrace[1]%/*}/antigen.zsh"
    antigen use oh-my-zsh
    antigen theme borekb/agkozak-zsh-theme@prompt-customization
    antigen apply

    AGKOZAK_COLORS_BRANCH_STATUS=8

(that is, leave out the line about `promptinit` -- I don't think it's necessary). Before restarting the shell, delete your `.antigen`

[2018-07-08 05:23] agkozak commented on #8
I can see the cache (usually `~/.antigen/init.zsh`) not being build correctly the first time around. It seems only to happen on MSys2 and Cygwin, though. Sometimes there’s a path with two trailing slashes.

[2018-07-08 05:50] agkozak commented on #8
What's happening is that the `init.zsh` cache file has lines like

    #--- BUNDLES BEGIN

    #--- BUNDLES END

in it. When I reset the cache and restart `zsh`, they get filled out, thus:

    #--- BUNDLES BEGIN
    source '/home/agkoz/.antigen/bundles/agkozak/agkozak-zsh-theme/agkozak-zsh-theme.plugin.zsh';

    #--- BUNDLES END

So at first, nothing is getting sourced. I'll try to figure out wh

[2018-07-08 07:04] borekb commented on #8
Nice find, I can confirm that your `.zshrc` plus doing `antigen reset` manually fixes the problem.

[2018-07-08 21:50] agkozak commented on #8
I think there may be a problem with the way the antigen cache has worked in MSys2 and Cygwin starting in v2.2.0 -- even the common robbyrussell theme requires an `antigen reset` to display properly. I will gather my observations and show them to antigen's developer. In the meantime, you can go on using

    source /path/to/agkozak-zsh-theme.plugin.zsh

[2018-08-10 07:16] borekb opened #10 "Question: what would make your prompt non-asynchronous in VSCode terminal?"
I usually use ConEmu as my terminal on Windows but wanted to try VSCode with very similar settings, basically, this in `settings.json`:

[code]

What is strange is that in VSCode's terminal, the prompt waits for the Git info to be fetched, only then appears. As if there was no asynchronicity.

This might be an issue with VSCode itself but before I report there, I wanted to ask you, @agkozak, if yo

[2018-08-10 16:42] agkozak commented on #10
Interesting. The prompt works perfectly and asynchronously in MSYS2 in VSCode (just using` zsh.exe`).

To be honest, I can't get your configuration as given above to work at all in VSCode (and of course I am adjusting the path to `conemu-msys2-64.exe`). I just get an error message. Is that program even supposed to be invoked outside of  ConEmu itself? I believe that you've got it working; I just c

[2018-08-10 17:11] borekb commented on #10
I'll do some more experiments later today but:

Yes, I believe `conemu-msys2-64.exe` can be used outside of ConEmu. I think it's just a normal binary that provides POSIX environment for whatever is executing "through" it.

Both ConEmu and VSCode's terminal are terminal emulators, so at the same level. They run whichever binary they are instructed to, and I believe running `zsh.exe` in VSCode direc

[2018-08-10 17:39] agkozak commented on #10
I can see why you want to use it.

`conemu-msys2-64.exe` seems to work perfectly for me inside ConEmu, but if I try to launch it from the File Explorer, I get an error message saying that it can't find `msys-2.0.dll`. I'll keep working at this: I'm keen to reproduce your environment and fix things.

[2018-08-10 20:17] agkozak commented on #10
While I work on trying to get ConEmu to work properly, why don't you try typing

    print $AGKOZAK_ASYNC_METHOD

into your integrated terminal and see what it says.

[2018-08-10 23:01] borekb commented on #10
Strange, I'm on a Windows machine now, but a different one than in the morning. All works fine in VSCode, even with the MSYS2 Connector. Hm....

By the way, my environment is set up like this: [Zsh on Windows via MSYS2](https://medium.com/@borekb/zsh-via-msys2-on-windows-3964a943b1ce). With PATH correctly updated, I can open Command Prompt and execute this there:

[code]

and get a zsh shell insid

[2018-08-10 23:34] borekb commented on #10
After some more testing, on my desktop PC:

## zsh in VSCode via ConEmu Connector

VSCode configuration:

[code]

All works fine: prompt is there, is asynchronous, Git info uses gray color.

![image](https://user-images.githubusercontent.com/101152/43985079-fd0fac9c-9d04-11e8-86e5-adfabd30f81e.png)

## zsh in VSCode without connector

Settings:

[code]

All seems to be fine except Git info color –

[2018-08-12 12:17] borekb commented on #10
I'm now on my Windows laptop from which I've originally reported the issue with non-asynchronous prompt, and I can't reproduce it. All behaves as expected, and I observe exactly the same as in the previous comment. Maybe it was some temporary glitch.

[2018-08-12 23:03] agkozak commented on #10
I'm glad to hear it's all working correctly.

I so wish I could get ConEmu to work as well! What you're describing sounds great, but both on my desktop and on my wife's laptop I have trouble getting the connector (`conemu-msys2-64.exe`) to find `msys-2.0.dll`. If I run the commands you list from the `C:\tools\msys64\usr\bin` directory where `msys-2.0.dll` resides, then it all works, but only barel

[2018-08-13 07:01] borekb commented on #10
Strange. I assume `C:\tools\msys64\usr\bin` is in your path, right? BTW, I'd had good experience asking questions in [this Gitter room](https://gitter.im/msys2/msys2).

[2018-08-14 04:09] agkozak commented on #10
Yes, that helps! 👍

All the same, in a `cmd.exe` box I get a lot of unprocessed escape codes:

![image](https://user-images.githubusercontent.com/7599319/44071222-b0d383e6-9f3c-11e8-841c-bb7ed968e3dc.png)

There seem to be many fewer if I run `bash.exe` instead of `zsh.exe`. Either way, I get a stackdump every time I exit the shell.

I'll check out that Gitter room -- thanks!

[2018-08-14 07:00] borekb commented on #10
Which version of Windows are you on? Console only got better in a recent Win10 updates.

[2018-08-14 14:05] agkozak commented on #10
This is the latest version of Windows 10. I'm pretty sure my problem has everything to do with ConEmu, as I am able to launch WSL from cmd.exe and get all the colors I want:

![image](https://user-images.githubusercontent.com/7599319/44096431-17407eba-9f90-11e8-887f-6cff5f601e6f.png)

[2018-08-16 17:20] #10 closed

[2018-09-01 07:01] sinetoami commented on #8
@agkozak
I'm sorry for reporting a comment now. But, a couples of days this issue appears on my environment. I tried install and apply the [Spaceship-prompt](https://github.com/denysdovhan/spaceship-prompt) theme using the recommended approach on the [documentation](https://github.com/denysdovhan/spaceship-prompt#installing). Using `antigen bundle denysdovhan/spaceship-prompt spaceship`. I've omit

[2018-09-01 08:40] borekb commented on #8
@sinetoami `zsh-async` doesn't work on Windows / MSYS2, it's actually one of the key strengths of this prompt that it implements asynchronicity in a way that works cross-platform. But your solution might help on non-Windows platforms, that's true.

[2018-09-01 14:59] agkozak commented on #8
@sinetoami I'm glad you found something that works for you!

[2018-09-01 14:59] #8 closed

[2018-11-06 15:00] moonrumble opened #12 "git status is not getting updated when using usr1 async mode."
I am getting following error using cygwin and git prompt is not getting updated. If I delete the tmp file, it works as expected.

_agkozak_usr1_async_worker:2: file exists: /tmp/agkozak_zsh_prompt_1340

Thanks

[2018-11-06 17:22] agkozak commented on #12
Yes, I can see how that could happen. Cygwin and MSYS2 temp directories do not seem to get cleaned up very often.

I'm about to release a new version of the prompt that uses a completely different method for producing the asynchronous Git status. Would you like to try it? Just go to the directory where the `agkozak-zsh-prompt.plugin.zsh` script is stored and run

    git checkout develop
    git p

[2018-11-07 00:13] moonrumble commented on #12
Unfortuatenly, I am still getting the same error.

[2018-11-07 15:03] moonrumble commented on #12
Thank You for the quick response. I have set it to be usr1 based on the documentation so it says.

After I removed forced configuraton, it is

 but my prompt is very slow compare to pure prompt using async.zsh.

When I forced async method to be zsh-async, my prompt stops working. I am seeing the same behavior in master branch as well.

[2018-11-07 15:51] agkozak commented on #12
I don't think you'll be able to get pure with `async.zsh` to work in Cygwin, as it requires the `zpty` module, which loads and then crashes in Cygwin.

As I've been fiddling about with the new method of delivering the Git status, I have also found it to be somewhat unsatisfactory in Cygwin and MSYS2. Until I resolve its issues, I'd encourage you to use the `master` branch again, and just run

[2018-11-07 15:58] moonrumble commented on #12
pure is working with `async.zsh`. Problem is I am not able to kill the zsh. Window will stay open until I run `tskill zsh`. I am sure you are awayre of the issue and related discussion on `async` and `pure` git repo.

[2018-11-07 19:35] agkozak commented on #12
@moonrumble  It's interesting that you got the "file exists" error message. I've never actually seen that happen with my prompt. Could you check to see if you've got the `noclobber` option set in your shell? You can just type `setopt` and it should list all of the options that are enabled.

[2018-11-07 20:04] agkozak commented on #12
I've just pushed to the `develop` branch a version of the prompt that will use `usr1` by default on Cygwin and that has a workaround for the `noclobber` setting. Give it a try -- I think it should fix your original problem.

[2018-11-08 03:03] moonrumble commented on #12
you were correct. I had `noclobber` set. After updating develop branch, now prompt is working as expected.

How are you measuring performance? I want to help testing with few other prompts. It might be my imagination but it feels little slower compare to `pure`. I have no data to back my claim but I am happy to run some test.

[2018-11-08 23:05] agkozak commented on #12
I just played around with pure in Cygwin, and you're right -- it does seem a bit faster in rendering the main part of the prompt (although anyone reading this should note that your shell will hang when you try to exit).

I'll try to get around to writing a benchmark for the two soon. In the meantime, I noticed one major difference between my shell and pure is that mine gives you your vi mode in th

[2018-11-09 00:12] agkozak commented on #12
Actually, it looks as if pure has made a vi status indicator a builtin feature since I last checked up on it. Very nice.

[2018-11-09 00:32] agkozak commented on #12
You can also speed up my prompt a bit by running AGKOZAK_NAMED_DIRS=0 at the command line or in your `.zshrc`. The difference is that it won't display ZSH named (hashed) directories as being special anymore, but it does avoid two subshells, which are costly in terms of performance in Windows.

[2018-11-09 03:55] agkozak commented on #12
It may not even be necessary to do `AGKOZAK_NAMED_DIRS=0`, as I've just removed a subshell by changing

    zsh_pwd=$(print -Pn '%~')

to

    print -v zsh_pwd -Pn '%~'

[2018-11-09 15:50] moonrumble commented on #12
Now it feels snappier then before. Thanks

[2018-11-13 17:46] agkozak commented on #12
Thanks. I think today you'll find it to be even snappier -- I've eliminated another subshell. As I'm sure you know, in shell scripting, the most classic way of assigning the output of a function to a variable is `var=$( print 'something')`, but in Cygwin, the subshell produced by command substitution is very slow. Now, whenever I can, I'm replacing that sort of construct with

    print -z 'someth

[2018-11-13 17:46] #12 closed

[2018-11-14 01:49] moonrumble commented on #12
Thank You.

[2018-11-14 17:23] moonrumble opened #13 "Ability to disable directory trim."
Currently, there is no way to disable directory trimming. I can set an arbitrary high number. How can i just disable that functionality?

May be settting `AGKOZAK_PROMPT_DIRTRIM=0` or negative number should disable it?

[2018-11-14 17:31] agkozak commented on #13
That's a smart idea. I'll work on it. Thanks.

[2018-11-14 19:31] agkozak commented on #13
I put together something on the `develop` branch like what you described. See if you like it.

[2018-11-14 20:17] agkozak commented on #13
I just pushed another commit (bug fix).

[2018-11-15 22:01] moonrumble commented on #13
for some reason, It is still not working. I just tested with commit `eaf7498`

[2018-11-15 22:08] agkozak commented on #13
It should be working -- yes, that is the latest commit. For me, it changes behavior as soon as I type

    AGKOZAK_PROMPT_DIRTRIM=0

Just as a test, go to a directory with a fairly long name (such as `/usr/local/share/zshelldoc`) and type the following

    _agkozak_prompt_dirtrim 0
    _agkozak_prompt_dirtrim 1
    _agkozak_prompt_dirtrim 2

and see what the responses are. (You might also want to

[2018-11-16 15:04] moonrumble commented on #13
It is working now as expected.

[2018-11-16 15:04] #13 closed

[2018-11-28 12:36] Defman21 opened #14 "Local/remote sessions"
Could you please explain how I can make this prompt work on a remote server? I've tried to Google something about zsh remote sessions but didn't find anything useful.

[2018-11-28 16:02] agkozak commented on #14
I'd be happy to help. Have you installed agkozak-zsh-prompt on the remote server yet? If so, how have you installed it and how are you sourcing it? Are you using a framework like oh-my-zsh or any other?

[2018-11-29 09:09] Defman21 commented on #14
Oh I have to install it on the server as well? Thanks, will try..

[2018-11-29 09:11] Defman21 commented on #14
It works. Thanks for your help!

[2018-11-29 09:11] #14 closed

[2019-01-07 04:37] sandangel opened #15 "How to change the start mark from '%' to another?"
I want to change the start mark from '%' to another mark (lambda mark), how could I do that

[2019-01-07 04:46] agkozak commented on #15
I have noticed that a lot of people want to change the prompt character. Give me a couple of days and I'll come up with a way to set it to whatever you like using a simple variable.

[2019-01-07 05:02] agkozak commented on #15
The solution right now would be to have a custom left prompt in your `.zshrc`:

    AGKOZAK_CUSTOM_PROMPT='%(?..%B%F{red}(%?%)%f%b )'
    AGKOZAK_CUSTOM_PROMPT+='%(!.%S%B.%B%F{green})%n%1v%(!.%b%s.%f%b) '
    AGKOZAK_CUSTOM_PROMPT+=$'%B%F{blue}%2v%f%b\n'
    AGKOZAK_CUSTOM_PROMPT+='%(4V.:.ⲗ) '

Give that a try.  But I do mean to come up with a simpler way of changing the setting.

[2019-01-07 12:10] sandangel commented on #15
thank you, please support config for changing the start mark at the beginning of the first line and second line, as well as git status sign, and auto-compare the git remote/local to show if we already push or need to pull like pure-prompt

[2019-01-07 14:37] agkozak commented on #15
I'm not quite sure what you mean by that. Could you explain? Thanks!

[2019-01-15 21:48] agkozak commented on #15
All right, @sandangel. You might like to try what I’ve now got on the `develop` branch. You can now specify the array `$AGKOZAK_PROMPT_CHAR`, which should consist of three strings: 1) the prompt for a regular user; 2) the prompt for a superuser; and 3) the prompt when in `vi` command mode (which is not relevant if you use Emacs keybindings). The default is the equivalent of

    AGKOZAK_PROMPT_CHA

[2019-01-15 23:42] agkozak commented on #15
@sandangel I just added a feature to the `develop` branch. If you copy and paste

    AGKOZAK_CUSTOM_SYMBOLS=( '&*' '&' '*' '+' 'x' '!' '>' '?' )

You can edit the items in that array to be the Git symbols you want: diverged, behind, ahead, new, deleted, modified, renamed, untracked. See if you like this feature.

[2019-01-15 23:55] sandangel commented on #15
@agkozak wow thank you. This is how my current prompt looks like after customize (I'm using AGKOZAK_CUSTOM_PROMPT and master branch)
![image](https://user-images.githubusercontent.com/22189661/51217451-7e241600-196b-11e9-8543-d2e1d0f409dd.png)

[code]
This prompt is still not possible in the develop branch right?

Is it possible to only input only the colour that you want for the character instead

[2019-01-16 01:20] agkozak commented on #15
Nice prompt!

You can accomplish a lot, but not all, of what you’ve got in your prompt using these features:

* The extra line between prompts can be achieved with `AGKOZAK_BLANK_LINES=1`
* `AGKOZAK_LEFT_PROMPT_ONLY=1` will put your git status exactly where you’ve got it
* The `AGKOZAK_COLORS_*` variables will let you specify colors for exit status, user and host, path, and git information

You’re

[2019-01-16 02:13] sandangel commented on #15
Thanks. I really appreciate that. I will try out the develop branch and let you know if I have more feedback.

[2019-01-29 21:49] lfromanini commented on #15
Any plans to merge it to main branch?

[2019-01-29 22:19] agkozak commented on #15
@lfromanini Yes, I plan to do that in the next few days. Thanks for showing interest. Are you happy with the two new features (`$AGKOZAK_PROMPT_CHAR` and `$AGKOZAK_CUSTOM_SYMBOLS`)?

[2019-01-30 01:09] agkozak commented on #15
@sandangel I just added a feature, `$AGKOZAK_COLORS_PROMPT_CHAR`. If you set it to a color, it will make your prompt character that color. So, for example, if you want the prompt character to work exactly as it does in pure, you can use

    AGKOZAK_PROMPT_CHAR=( '❯' '❯' '❮' )
    AGKOZAK_COLORS_PROMPT_CHAR='magenta'

See what you think. The changes are on the `develop` branch.

[2019-01-30 01:55] lfromanini commented on #15
@agkozak , I really like it a lot, specially the AGKOZAK_PROMPT_CHAR! I'd added a thumbs up on your message from 14 days ago because, IMHO, it's a killer feature. Thanks for the initiative and for sharing it with community, by the way.

[2019-01-30 01:58] sandangel commented on #15
I notice the prompt startup is very slow. Could we call the prompt on zsh async hook precmd?

[2019-01-30 02:31] sandangel commented on #15
I'm using macos mojave. The prompt becomes slower when I enable the time prompt.

[2019-01-30 02:43] agkozak commented on #15
@sandangel Try typing

     echo $AGKOZAK_ASYNC_METHOD

and see what it says.

[2019-01-30 03:00] agkozak commented on #15
@sandangel I don’t have access to a Mac myself, so I’ve never been able to benchmark the prompt for MacOS. The prompt should be using the `subst-async` method for asynchronous activities. `zsh-async` is only used by default on Solaris and Windows with WSL.

If you want to try the other systems, try initiating `zsh` these ways

    AGKOZAK_FORCE_ASYNC_METHOD=‘zsh-async’ zsh

    AGKOZAK_FORCE_ASYNC

[2019-01-30 07:19] sandangel commented on #15
@agkozak hmm, I figured out it's because I'm using antigen. Switched to zplugins and lazy load the prompt and it's working good now.

Great!!, I will try it. Please notify me when you release that.

[2019-02-01 03:15] AGitBoy commented on #15
How would one change the vi mode char? Because my config currently is like this:
[code]

Which outputs my prompt char as `$` in insert mode as a normal user or `>` in normal mode. How would I change it with this new feature?

[2019-02-01 04:48] agkozak commented on #15
@AGitBoy Nice prompt! What you've got will continue to work. For a while now, though, I've been using `psvar[4]` to hold the `vi` command mode state, so if you want to you can get rid of the `_agkozak_vi_mode_indicator` function and replace

    PROMPT+='$(_agkozak_vi_mode_indicator) '

with

    PROMPT+='%(4V.>.%(!.%#.$)) '

which basically means "If `psvar[4]` says we're in `vi` command mode, th

[2019-02-05 18:18] agkozak commented on #15
All right. I've released v3.1 and it's now on the `master` branch. It includes `AGKOZAK_PROMPT_CHAR`, `AGKOZAK_COLORS_PROMPT_CHAR`, and `AGKOZAK_CUSTOM_SYMBOLS`, and the new features are thoroughly documented.

[2019-02-12 05:06] SultanSGillani opened #16 "Hide user and hostname"

[2019-02-12 05:07] SultanSGillani commented on #16
Is there any possible way to completely hide user and hostname regardless of session type?

[2019-02-12 05:42] agkozak commented on #16
You can do that. There's no simple setting for it, but you can do almost anything by using `$AGKOZAK_CUSTOM_PROMPT`. The default behavior of the left prompt can be represented thus:

    AGKOZAK_CUSTOM_PROMPT='%(?..%B%F{red}(%?%)%f%b )'
    AGKOZAK_CUSTOM_PROMPT+='%(!.%S%B.%B%F{green})%n%1v%(!.%b%s.%f%b) '
    AGKOZAK_CUSTOM_PROMPT+=$'%B%F{blue}%2v%f%b\n'
    AGKOZAK_CUSTOM_PROMPT+='%(4V.:.%#) '

[2019-02-12 11:07] SultanSGillani commented on #16
Thanks. Per your README I’m just using the example of
 AGKOZAK_PROMPT_CHAR=( ❯ ❯ ❮ )
AGKOZAK_COLORS_PROMPT_CHAR='magenta'

Without any major customizations. Thanks!!

[2019-02-12 15:05] agkozak commented on #16
Great. Try copying and pasting this:

    AGKOZAK_CUSTOM_PROMPT='%(?..%B%F{red}(%?%)%f%b )'
    AGKOZAK_CUSTOM_PROMPT+=$'%B%F{blue}%2v%f%b\n'
    AGKOZAK_CUSTOM_PROMPT+='%F{magenta}%(4V.❮.❯)%f '

[2019-02-13 04:32] SultanSGillani commented on #16
Thanks that works!!

[2019-02-13 04:32] #16 closed

[2019-02-20 14:14] zhuxiaoxi opened #17 "How to remove spaces around the git tag?"
I want to remove this space, just like the left side. thanks

<img width="964" alt="2019-02-20 22 04 52" src="https://user-images.githubusercontent.com/2098464/53097360-40af3b80-355c-11e9-8ec2-8953fe18d8b6.png">

[code]

[2019-02-21 18:21] agkozak commented on #17
I've just implemented a new setting that should help you. Go to wherever you have agkozak-zsh-prompt stored and run

    git pull
    git checkout develop
    zsh

Then try

    AGKOZAK_BRANCH_STATUS_SEPARATOR=''

That should make the space disappear. Let me know if it works -- I can release it on the `master` branch soon. You may put it in your .zshrc along with the custom prompt lines you alread

[2019-02-22 03:16] zhuxiaoxi commented on #17
it works.
I think that removing the space completely in BRANCH_STATUS, adding spaces in PROMPT, more user-friendly. Or add an option to let the user choose whether to remove all spaces.

There is still a space on the right side.
![](https://user-images.githubusercontent.com/2098464/53217462-05fbef00-3693-11e9-8c99-2ad279ead6c7.jpg)

[2019-02-22 03:40] agkozak commented on #17
The space on the right side is something ZSH itself does, but you can adjust it with

    ZLE_RPROMPT_INDENT=0

See if that looks better in your terminal.

[2019-02-22 03:48] zhuxiaoxi commented on #17
If you do this, the space on the left prompt will also disappear.
<img width="217" alt="2019-02-22 11 47 24" src="https://user-images.githubusercontent.com/2098464/53218595-b4a22e80-3697-11e9-91da-3e99dded3484.png">

[2019-02-22 05:45] zhuxiaoxi commented on #17
thank. I solved it
[code]

[2019-02-22 05:45] #17 closed

[2019-04-30 08:55] WayneChang65 opened #18 "Is is possible to add Powerline Font character in prompt?"
I'd like to add [Powerline fonts](https://github.com/powerline/fonts) characters in prompt. (as a separator by AGKOZAK_BRANCH_STATUS_SEPARATOR)
like this below
![image](https://user-images.githubusercontent.com/33888917/56950306-c1e00b80-6b67-11e9-93bd-5a9f98295d1e.png)

If I copy & paste it directly, it becomes that below and fail.
![image](https://user-images.githubusercontent.com/33888917/56950

[2019-05-01 18:31] agkozak commented on #18
I'm pretty sure this is a problem related to the terminal you're using. What operating system and terminal are you using?

[2019-05-02 01:53] WayneChang65 commented on #18
I use [PieTTY](https://sites.google.com/view/pietty-project) for the terminal on Windows 7.
This prompt theme [shayan-zsh-theme](https://github.com/shayanh/shayan-zsh-theme) shows the Unicode character correctly in same PieTTY.
![image](https://user-images.githubusercontent.com/33888917/57053345-f961cb80-6cbf-11e9-9bee-22862f7f4415.png)

I check shayan.zsh-theme out and try to assign "\ue0a0 " to

[2019-05-02 02:46] agkozak commented on #18
Thanks. That's a very helpful explanation of what looks like a genuine problem! I get the same problem in mintty, in fact.

All right. Give me a couple of days and I'll try to produce a fix.

[2019-05-02 03:02] WayneChang65 commented on #18
Thanks for the great work. agkozak-zsh-prompt is really impressive and flexible for customization. I love it. :)

[2019-05-05 21:21] agkozak commented on #18
[Here's the source of the problem.](https://www.zsh.org/mla/users/2005/msg00863.html) Using "expandos" such as `%1v` in the prompt strings to refer to `psvar[1]`, etc. does not necessarily display Powerline symbols. Frequently ZSH treats them as potentially dangerous escape sequences; hence the literal treatment of `\ue0a0` in your example.

I've noticed that the problem occurs on Windows (with MS

[2019-05-06 01:26] WayneChang65 commented on #18
Good morning.
I tried to modify my .zshrc as you mentioned below:
![image](https://user-images.githubusercontent.com/33888917/57203191-91bdc000-6fe0-11e9-9aaf-410f9a3b195d.png)

And the result :
![image](https://user-images.githubusercontent.com/33888917/57203202-a5692680-6fe0-11e9-8eb9-3e552eb09880.png)

Hope it helps.

[2019-05-06 01:36] agkozak commented on #18
Too bad.

I'll try to get a CentOS virtual machine up and running and see what's happening.

Many thanks for your feedback.

By the way, could you run

    locale

on your CentOS server and tell me what it says? Thanks.
.

[2019-05-06 01:52] WayneChang65 commented on #18
It shows OK by mintty on Cygwin. Wow~
![image](https://user-images.githubusercontent.com/33888917/57203536-8c15a980-6fe3-11e9-826d-5ef0b6354fbb.png)
![image](https://user-images.githubusercontent.com/33888917/57203547-9e8fe300-6fe3-11e9-8dce-da2ad97ea6f3.png)

By the way, locale says below:
1. CentOS Server
![image](https://user-images.githubusercontent.com/33888917/57203561-bff0cf00-6fe3-11e9-92d

[2019-05-06 02:04] WayneChang65 commented on #18
One more thing has to be mentioned is that it shows correct on cygwin by mintty and then I try it on VSCode. An exception-like message shows out as below:

![image](https://user-images.githubusercontent.com/33888917/57203889-3bec1680-6fe6-11e9-8ac4-50bcdfd6525c.png)

Any ideas?

[2019-05-06 16:41] agkozak commented on #18
Could you try changing

    AGKOZAK_BRANCH_STATUS_SEPARATOR=" \ue0a0 "

to

    AGKOZAK_BRANCH_STATUS_SEPARATOR=$' \ue0a0 '

and see if that makes a difference?

I'll get back to you on the other points a little later.

[2019-05-07 01:58] WayneChang65 commented on #18
I change it as you said and it shows correctly !!!
![image](https://user-images.githubusercontent.com/33888917/57266433-7e792600-70ae-11e9-8243-4db8d8ac5dc1.png)
![image](https://user-images.githubusercontent.com/33888917/57266452-8cc74200-70ae-11e9-81f8-211aac677460.png)

Thanks. I love it.

[2019-05-07 02:53] agkozak commented on #18
I'm glad it helped!

As to your VS Code problem: it looks as if you're using Cygwin's `bash.exe` as your integrated shell and then launching `zsh.exe` from it, probably from the `.bashrc` -- does that sound correct? At any rate, the problem occurs in `bash`, not `zsh`, so you'll have to look at `.bashrc` (possibly other places, too) for the cause. My guess it that you've got some sort of condition

[2019-05-07 03:59] WayneChang65 commented on #18
Thanks. You are right. _T was set by a windows batch file when I use mouse right-click to run mintty.

![image](https://user-images.githubusercontent.com/33888917/57270770-462e1380-70bf-11e9-99b7-81dbb2fe3304.png)

![image](https://user-images.githubusercontent.com/33888917/57270829-7fff1a00-70bf-11e9-955b-6b94aab28b7a.png)

But _T was not set by VSCode terminal and raise the exception.
I just add

[2019-05-08 01:31] #18 closed

[2019-05-13 13:50] dvogt23 opened #19 "`cat` alias breaks `async` function"
my `cat` alias breaks the `async` function. in changelog from dec 2018 says that `cat` is no longer used 🤔 is that cause the async job calls `cat`?

could someone help?

[2019-05-13 15:03] agkozak commented on #19
The [change a few months ago](https://github.com/agkozak/agkozak-zsh-prompt/commit/dd0eebb95ba8c58e91fa134dfcf369992399cba9) simply makes it so that native ZSH functions are used to fetch the contents of a temporary file, rather than the external `cat` program; this makes things slightly faster. It is unlikely that this is your problem.

I'd like to try to help you, though. Are you receiving an er

[2019-05-13 19:35] agkozak commented on #19
My suspicion is that whatever system you're on is defaulting to the `zsh-async` method (most likely WSL on Windows or Solaris). `zsh-async` does use `cat`, and it has an `async` function.

For the most part, it's unwise to alias basic POSIX utilities like `cat`; it causes no end of problems.

[2019-05-13 20:37] dvogt23 commented on #19
Thanks for the quick reply. Im on debain (WSL) on windows and use `zsh-async`.  I alias the `cat` command with `alias cat=bat`. The error is, that i have a lot of `zsh` & `bat` processes on the machine.

You are right, on my arch with the same env looks everything fine.

So, i have to use another async method?

[2019-05-13 21:13] agkozak commented on #19
My main advice would be never to alias `cat` to anything else; it's the Unix command for displaying the contents of a file, and you'll find that it gets used for all sort of purposes in scripts.

That said, if you put

    AGKOZAK_FORCE_ASYNC_METHOD=usr1

in your `.zshrc` (before you load the agkozak-zsh-prompt), my prompt won't be using `cat` at all so the conflict will not occur with it.

[2019-05-14 05:29] dvogt23 commented on #19
thats helps. thanks.

Every script should use an own environment, indepent from my personal aliases, sorry. I have also have an alias for ls and so on. Never got problems with it.

[2019-05-14 05:29] #19 closed

[2019-05-14 06:11] agkozak commented on #19
Scripts that you execute like programs do have their own environments. Prompts, however, are sourced into your interactive environment, so they run the risk of conflicting with everything else you do. For example, if you look at my source code, you'll see that I use variable names like `$AGKOZAK_ASYNC_METHOD` rather than `$ASYNC_METHOD`, just in case some other script gets sourced that has its own

[2019-05-14 06:45] dvogt23 commented on #19
Thats true, prompts have no possability to use an own env, I think. For prevent an alias to being used, you could use a `\` like `\cat` for the "real" command. Maybe I should open an issue in zsh-async with this hint :thinking:

So, thank you so much for the great prompt and for your quick help :nerd_face:

[2019-11-03 15:05] bashwing opened #23 "Option to remove space before prompt character?"
Would it be possible for an option to be added to remove the space before the prompt character, for single-line prompts? For instance, with options
[code]
I get
[code]
I would instead like it to look like:
[code]
I realise that this is possible using advanced customisation, and that's what I will look at doing right now, but for maintainability it would be really convenient if there was a simple t

[2019-11-04 18:25] agkozak commented on #23
Give me a day or two and I'll address this. Thanks so much for the suggestion!

[2019-11-05 21:21] agkozak commented on #23
OK. On the `develop` branch I've added a variable for you. If you set `AGKOZAK_PRE_PROMPT_CHAR=''`, it will make the space disappear. Alternatively, you could set it to any character or combination of characters.

Let me know if that works for you. I may decided to rename `$AGKOZAK_PRE_PROMPT_CHAR` -- it was the first name I thought of. I'll let you know if I change it. I'll probably release this

[2019-11-05 21:26] bashwing commented on #23
Perfect, works great! Thanks for the prompt response!

[2019-11-06 18:21] agkozak commented on #23
OK. This featured is now on the `master` branch as part of release `v3.4.0`. Thanks again for your contribution.

[2019-11-06 18:21] #23 closed

[2019-11-29 23:33] basil opened #24 "AGKOZAK_MULTILINE not simpatico with AGKOZAK_LEFT_PROMPT_ONLY"
First of all, thank you for the excellent prompt!

If I set `AGKOZAK_LEFT_PROMPT_ONLY=1` alone, the Git status is on the left side and the prompt is two lines (as expected). If I set `AGKOZAK_MULTILINE=0` alone, the Git status is on the right side and the prompt is one line (as expected). However, if I set both `AGKOZAK_LEFT_PROMPT_ONLY=1` _and_ `AGKOZAK_MULTILINE=0`, the Git status is on the left

[2019-11-30 01:16] agkozak commented on #24
Thanks, Basil!

I imagine the layout you're looking for is more or less what I used in my [Polyglot Prompt](https://github.com/agkozak/polyglot), which is not asynchronous. For the agkozak-zsh-prompt, I do include in my documentation [a custom prompt](https://github.com/agkozak/agkozak-zsh-prompt#ccb012100) that works that way. I will confess that the reason I haven't made it an easily achieved co

[2019-11-30 01:27] basil commented on #24
Thanks for the quick reply! That workaround did the trick.

I concur. It looks janky when the prompt is first drawn in one position and then almost immediately after shifted over. But I worked around this by setting `AGKOZAK_FORCE_ASYNC_METHOD=none`.

Sure, I'd be happy to test this out.

Thanks again!

[2019-11-30 01:42] agkozak commented on #24
Give the `simpatico` branch a pull. Comment out that custom code I gave you and just use

    AGKOZAK_LEFT_PROMPT_ONLY=1
    AGKOZAK_MULTILINE=0

See what you think.

[2019-11-30 01:53] basil commented on #24
The `simpatico` branch works like a charm with these three settings:

[code]

It might be worth warning the user in the documentation to set `AGKOZAK_FORCE_ASYNC_METHOD=none` whenever `AGKOZAK_LEFT_PROMPT_ONLY=1` and `AGKOZAK_MULTILINE=0` to avoid the jankiness discussed above. Or as an alternative, the routine that detects the asynchronous method could even fall back to `none` whenever `AGKOZAK_L

[2019-11-30 02:03] agkozak commented on #24
A warning that the combination might not be to everyone's taste might be good, I agree. I'm hesitant to start encouraging people to turn off the asynchronicity, naturally, as I see it as the best thing about the font, but it all depends on what you're doing, right?

Thanks again so much for making the prompt better.

[2019-11-30 02:15] basil commented on #24
That's exactly right. I agree the asynchronicity is one of the most technically impressive features of the project. And for Windows users or users with very large repositories, this might be indispensable. But I use Linux with mirrored M.2 NVMe SSDs and a 16 GB in-memory filesystem cache, so all `git(1)` operations are screaming fast for me. 🙂 In my configuration asynchronicity confers no tangible

[2019-11-30 02:18] agkozak commented on #24
I figured you had a good reason.  🙂

[2019-12-29 15:40] woutgg opened #25 "Show execution time above a given threshold"
First of all thanks for the nice prompt!

I'm currently trying it out as an alternative to the pure prompt and what I'd like to be able to add is a way to have command execution time shown whenever it takes longer than a configured threshold.

[2019-12-30 16:44] agkozak commented on #25
Go to the directory where you've installed agkozak-zsh-prompt and run

    git pull
    git checkout cmd-exec

See if you like what I've done. The current threshold is 5 seconds; you can specify your own threshold using the variable `AGKOZAK_CMD_EXEC_TIME`, or turn off the display entirely with `AGKOZAK_CMD_EXEC_TIME=0`. You'll also get the chance to try out the latest version of the prompt, which

[2019-12-30 17:12] agkozak commented on #25
I'm making a few improvements (I hope!). I've changed the color of the indicator from magenta to 'default' so as to make it less intrusive. I also removed the preceding ellipsis -- it took up too much room, I think.

[2019-12-30 18:10] agkozak commented on #25
You can set the color of the command execution time thus:

    AGKOZAK_COLORS_CMD_EXEC_TIME=magenta

or

    AGKOZAK_COLORS_CMD_EXEC_TIME=236

[2019-12-31 00:20] woutgg commented on #25
Wow thanks for adding this so quickly! I'll give it a spin tomorrow and let you know what I think.

As for your question (assuming you were asking what I use it for), these are the two major 'modes' of use that spring to mind:
- The first is whenever I'd otherwise use `time` (e.g. checking script performance, or estimating required total time of repeated operations), and this saves me the distract

[2019-12-31 16:24] agkozak commented on #25
Works for me! `zsh` actually has a builtin function like that: if you set `REPORTTIME` to a threshold in seconds, the shell will basically run a `time`-like assessment when the execution time of any command exceeds that threshold. But it's not as pretty as what we've just added to the prompt. :)

[2019-12-31 17:48] woutgg commented on #25
Ok I've tried it now and it works really nicely. I think your color update to make it less obtrusive is a good one.

There is however one extra feature that will make it more useful, namely pretty printing the time. For anything over ~2 minutes this improves readability a lot. The pure prompt has a simple conversion function for this ([here](https://github.com/sindresorhus/pure/blob/master/pure.zs

[2019-12-31 17:51] woutgg commented on #25
Oh I didn't know that one. This prompt addition is definitely more practical and pretty though!

[2019-12-31 19:54] agkozak commented on #25
@woutgg You're on a roll! Thanks for the suggestions.

I've made `psvar[9]` the pretty-printed string for now; I may or may not keep the raw number of seconds in `psvar[8]` just in case someone wants to use them in a custom prompt. I'll think about it for a few days.

I've also added an array, `AGKOZAK_CMD_EXEC_CHARS`, that can hold characters to prepend and append to the time string; for example

[2019-12-31 19:57] agkozak commented on #25
I've merged this branch back into my `develop` branch, but I'll leave the `cmd-exec` branch (which is presumably stable) around until I release the new version of the prompt.

[2019-12-31 20:40] agkozak commented on #25
I've changed the name of that array to `AGKOZAK_CMD_EXEC_TIME_CHARS` -- it's long, but I'll probably be glad for the consistency someday.

[2020-01-01 15:10] woutgg commented on #25
Perfect, thank you! I think with these configuration options it makes for a very nice extra feature.

If you run out of `psvar`s (I'm not really familiar with zsh scripting, but it's limited to 9 right?), maybe you could introduce another setting to have either the raw exec time or the human redable version - but I'm not sure that's a very elegant approach.

Except for the command name it's identi

[2020-01-05 04:54] agkozak commented on #24
Version 3.6.0 is available on the `master` branch; you may switch over to that now. Thanks again for the great suggestion.

[2020-01-05 04:54] #24 closed

[2020-01-05 05:00] agkozak commented on #25
v3.6.0 of the prompt is now available on the `master` branch of the repo, so you can switch over to that. Thanks again for the great suggestions.

Oh, and you may be amused to learn that there are at least 99999 `psvar` elements available, even as far back as ZSH v4.3.11! So I can afford to be generous with these things.

[2020-01-05 05:00] #25 closed

[2020-01-05 13:04] woutgg commented on #25
Great! Thank you for your work and the quick addition.

Aha I see, that is good to know next time I wander into the world of zsh scripting myself again.

[2020-01-07 14:11] qell opened #26 "Add virtualenv indicator"
Hi. I wanna switch from Pure theme completely to agkozak-zsh-prompt but stopping me from this is a lack of prompt virtualenv. Can you add this indicator in the future?

[2020-01-07 15:09] agkozak commented on #26
It looks as if that should not be at all hard to accomplish. Give me a couple of days and I'll throw something together and you can try it out for me.

[2020-01-08 16:57] agkozak commented on #26
Try out what I've got on the `venv` branch. I added a simple indicator for `virtualenv` and `conda`. If it works for you, I'll continue to work on it a bit. (Note that it won't work out of the box if you're using an advanced custom prompt, although it can be made to work, of course.)

[2020-01-09 08:19] qell commented on #26
Work like a charm! Miss only docs how to change position because I prefer indicator after git status despite this is still very useful. Thank you.

![image](https://user-images.githubusercontent.com/41490584/72050024-736f3900-32c0-11ea-9c7b-b903a8b93fd0.png)

[2020-01-09 15:40] agkozak commented on #26
I'm so glad you like it, and thanks so much for encouraging me to add this needed feature.

The trick about the positioning of the prompt elements is this: the Git status is the only asynchronous one, meaning that it will always appear just a moment after everything else. For that reason, I'll probably never make a simple setting that will have it pop up between the path and the `virtualenv` indic

[2020-01-10 17:33] agkozak commented on #26
I think I've got it working for `pipenv`, too.

[2020-01-14 07:57] qell commented on #26
With `poetry` works too. Thanks for the effort. The position of indicator is not important.

[2020-01-14 15:41] agkozak commented on #26
It looks as if poetry appends a hash and a `python` version to the name of the virtualenv directory, e.g.

    [poetry-demo-uyC2R89H-py3.7]

I ran into a similar problem with `pipenv`. I've committed a fix so that the garble doesn't show.

[2020-01-14 16:18] agkozak commented on #26
I've also got the prompt handling situations when

    poetry config virtualenvs.in-project true

has been set.

[2020-01-16 09:13] qell commented on #26
Work very well. Thank you. I think can you close the ticket and merge to master :)

[2020-01-16 18:31] agkozak commented on #26
Thanks again for your help in improving the prompt. I will update the documentation and add a demo for the new feature and release a new version of the prompt in the next few days.

[2020-01-21 23:48] agkozak commented on #26
All right, I just released this feature in `v3.7.0` on the master branch. I added an array `AGKOZAK_VIRTUALENV_CHARS`, which can specify the characters to display around the virtual environment indicator (default: `( '[' ']' )`.

[2020-01-21 23:48] #26 closed

[2020-03-11 17:06] Brantron commented on #15
Thanks for all your work on this, it's my second favorite plugin, only behind fzf! That said, would it be possible to support emojis in `AGKOZAK_CUSTOM_SYMBOLS` ?

[2020-03-11 17:35] agkozak commented on #15
@Brantron Glad to hear it! Thanks.

I *think* emojis do work in `AGKOZAK_CUSTOM_SYMBOLS`, e.g.

![image](https://user-images.githubusercontent.com/7599319/76446085-bcf10880-6383-11ea-86ea-ef44ce7cf41f.png)

Why don't you tell me what it is that you're trying to do and what isn't working? Try to include information about your operating system, terminal, font, etc.

[2020-03-11 21:31] Brantron commented on #15
ahh, it's unrelated to this plugin, most emojis work but the ones that don't work I also can't echo :( thanks again for this plugin!

[2020-04-03 00:32] brandoniffert opened #27 "Any way to customize the individual colors of the custom symbols?"
Hello, looking for a way to redefine each of the `AGKOZAK_CUSTOM_SYMBOLS` but have each symbol be a different color.

Trying this setting:
[code]

Gives me this prompt:
[code]

Any way to have those color codes interpreted?

Thank you

[2020-04-04 12:01] brandoniffert commented on #27
@agkozak Thanks for the great explanation! Works well, thanks for making this so customizable.

[2020-04-04 12:01] #27 closed

[2020-09-18 23:40] lainiwa opened #29 "Printing error on non-root android termux"
On Android >7 (?) the access to `/proc` seems to be partly restricted by SELinux. This leads to error being printed when using prompt on termux (`OSTYPE=linux-android`):
[code]

[2020-09-19 01:09] agkozak commented on #29
Thanks so much for reporting this with all the most useful details. I shall work on a fix as soon as possible, and perhaps you can help me to test it out.

[2020-09-19 01:21] agkozak commented on #29
I just put what should be a one-line fix on the `android` branch of this repo, but I don't have Android handy -- could you give it a try? Many thanks.

[2020-09-19 07:36] romkatv commented on #29
Comparing `$OSTYPE` with `linux-android` is not a very robust way of detecting Android OS. `$OSTYPE` tells you about the build environment rather than the execution environment, and they aren't always the same. E.g., you can run Zsh compiled against musl libc on Android just fine, which normally would have `OSTYPE` set to `linux-musl`.

Since what you really care about is `/proc/version` being rea

[2020-09-19 10:38] lainiwa commented on #29
The android branch (0b6256e) is working for me.

However, given what @romkatv commented, I guess you might want to reconsider handling this as a special case? If you you do -- I will then also check it against android's hardened `/proc` to see it is working.

[2020-09-19 16:30] agkozak commented on #29
Thanks, @romkatv. I think I'll have to spin up Android in a VM and do this properly.

@lainiwa, I'm glad I've got something working for you for the time being. I'll try to have something permanent soon (I'm getting used to new eyeglasses, so I'm pacing myself).

[2020-09-19 22:09] agkozak commented on #29
@lainiwa, I did what @romkatv suggested. Please give the `android` branch another pull and confirm that it works. Thanks!

[2020-09-19 23:15] lainiwa commented on #29
Working great!
Thanks for fixing the issue!

[2020-09-20 00:33] agkozak commented on #29
If it's all right, I'll reopen this issue just until I've merged the new code into the `master` branch. I'll let you know when that's done.

[2020-10-11 19:03] POTATOES-BoilEm-MashEm-StickEm-inAStew opened #30 "Removing exit status does not work"
Hi I love your prompt thanks so much for great documentation!

Unfortunately when i add in
`AGKOZAK_CMD_EXEC_TIME=0` to disable the status prompt (i.e 127) the exit status still shows! I want to remove the exit status because I do not understand what a 127 or 130 means. I do not want to learn those numbers. It's a hassle.

# Steps I did to reproduce it

## Action

## Expected result
next prompt is

[2020-10-12 05:15] agkozak commented on #30
`AGKOZAK_CMD_EXEC_TIME=0` doesn't disable the exit status display; it disables execution time display.

There isn't, at present, a simple setting that will suppress display of the exit status (I haven't had anyone request that before), but luckily it can be easily managed. If that's the only customization you're doing, you can just set `AGKOZAK_CUSTOM_PROMPT` thus in your `.zshrc`:
[code]

Let me

[2020-10-12 07:38] POTATOES-BoilEm-MashEm-StickEm-inAStew commented on #30
Oh my bad! Thank you for your kind answer much appreciated.
The script you show works. That's all I need for now.

Good work!

[2020-10-12 07:38] #30 closed

[2020-11-01 15:03] 0xsentinel opened #31 "[Question] Can an additional command be executed to be shown on the shell?"
Hi,

It is possible to execute an selfade custom command (e.g curl icanhazip.com)?
For example I wish to show my ip address on the prompt.

I know that it is possible to edit the .zsh source code and add it yourself but perhaps you know a faster way by setting a custom variable in my ~/.zshrc settings.
I find it hard to solve this problem myself because I do not understand the docs for example at

[2020-11-01 22:18] agkozak commented on #31
The ideal way of doing this is not to use an external command at all, but rather just an environment variable -- that's extremely fast. If you're using SSH to connect to servers and you only need to know the IP addresses of the servers you're connected to (as opposed to your local machine), you can use a small function to parse `SSH_CONNECTION`:

[code]

This function can parse the environment var

[2020-11-04 22:25] 0xsentinel commented on #31
Thank for your quick answer! It's actually very simple to implement to show your public IP.
add to `~/.zshrc`

[code]

That fixes my issue. There are no problems of the prompt being slow.

[2020-11-04 22:25] #31 closed

[2020-11-24 00:02] agkozak commented on #29
All right - the bug fix is now part of release v3.8.1 on the master branch. Thanks again for raising this issue.

[2020-11-24 00:02] #29 closed

[2020-12-11 03:54] #5 closed

[2020-12-11 03:55] #15 closed

[2021-04-24 23:16] eddyg opened #33 "FR: zsh `promptinit` API support"
Thanks for the flexible, lightweight, easy-to-understand prompt!

Any plans to implement support for [Zsh's `promptinit` API](http://zsh.sourceforge.net/Doc/Release/User-Contributions.html#Writing-Themes)?

(For ref, this was brought up in [this zsh-snap issue](https://github.com/marlonrichert/zsh-snap/issues/66#issuecomment-826119369).)

[2021-05-08 00:41] agkozak commented on #33
Thanks for the compliment!

I'll look into it.

[2021-05-08 19:01] agkozak commented on #33
OK, I've got the `develop` branch working with `promptinit` (with [this commit](https://github.com/agkozak/agkozak-zsh-prompt/commit/58406506674e2354f12ea06305bd0e34220804e3)); I'll merge it to `master` when I've cleaned up and tested a few things.

I've done the following so far:

- [x] Assigned `$prompt_opts`
- [x] Renamed `_agkozak_preexec` and `_agkozak_precmd` to `prompt_agkozak_preexec` and

[2021-05-09 11:29] marlonrichert commented on #33
@agkozak [Yes, I’m working on a `promptinit` patch](https://www.zsh.org/mla/workers/2021/msg01009.html), but it updates only a tiny part of the documentation. What questions do you need answered?

[2021-05-09 14:38] agkozak commented on #33
The sentence

should really be something more like

[2021-05-10 08:25] marlonrichert commented on #33
Yes, that part of the documentation will be improved with my patch.

[2021-06-03 16:33] AndydeCleyre opened #34 "Request: display pipestatus when any exit codes are non-zero"
I'm looking for a change like the following (but this doesn't work and I'm not sure why):

[code]

Here's how something similar looks in p10k:

![image](https://user-images.githubusercontent.com/1787385/120679738-84958880-c467-11eb-9c95-f6e0d2676aa6.png)

I don't know if it would be better to implement in a way that can be toggled or not; I would want this always enabled.

[2021-06-12 15:51] agkozak commented on #34
I just got back from a trip; I'll try to come up with an answer for you in the next few days.

[2021-06-16 23:53] mitomeo opened #35 "Ctrl + Left/Right to jump between words instead of vi/normal mode?"
Before applying the theme, I could use Ctrl Left/Right or Alt B/F to jump between words. How can I achieve the same now? Thx

[2021-06-17 13:50] agkozak commented on #35
The prompt is not intended to affect keybindings. Can you share your `.zshrc` with me? I might be able to identify what's going wrong.

[2021-06-18 00:48] mitomeo commented on #35
Sure, here my zshrc run on urxvt
[code]

[2021-06-18 14:33] agkozak commented on #35
I suspect the real culprit is in your `~/.config/zsh_plugins.txt` file. You might need to post that as well.

Do you really use Vim editing mode (`bindkey -v`)? Alt+F and Alt+B for forward-word and backward-word come from Emacs editing mode (`bindkey -e`), though there's nothing to stop you from using keybindings from both.

[2021-06-18 15:14] mitomeo commented on #35
You are right, I should not have expected Alt + B/F to move between words in vim mode. So my concern now is Ctrl + Left/Right not working.
I use antibody as my plugin manager, so basically my zsh_plugins.txt:
[code]
zsh_plugins.sh:
[code]

[2021-08-14 16:47] agkozak commented on #33
@eddyg @marlonrichert [Release v3.10.0](https://github.com/agkozak/agkozak-zsh-prompt/tree/v3.10.0) now has full `promptinit` compatibility. Thanks for your suggestions.

[2021-08-14 16:47] #33 closed

[2021-10-16 17:08] edemaine opened #37 "Finished background jobs don't update prompt"
I was excited to try out the new background job indicator status.  In most cases, it works great!  However, it doesn't seem to update when the number of jobs changes dynamically without any user input, even though zsh displays the "done" message and redisplays the prompt:

[code]

On the other hand, the prompt updates fine when the count changes between commands. For example:

[code]

Does zsh cal

[2021-10-17 01:38] agkozak commented on #37
@edemaine Thank you for the observation. I think we can do exactly what you describe using the `TRAPCHLD` function. I've uploaded changes to the `develop` branch of this repository; could you let me know if the prompt now works the way you want it to? I'll do a little research and make sure there won't be any unintended consequences.

[2021-10-17 02:41] agkozak commented on #37
It looks to me, actually, as if the prompt expansion element `%j`, which I should have used instead of `psvar[11]`, *does* update nicely. Rather than trying to do heroics with traps, I think I'll deprecate `psvar[11]` and just use `%j` and encourage people to use it in their custom prompts.

[2021-10-17 03:26] agkozak commented on #37
OK. That should be fixed. Thanks for helping me to catch that at such an early date.

[2021-10-17 03:26] #37 closed

[2021-10-17 15:24] edemaine commented on #37
Just confirmed that the new master branch works great! Thanks for the fix!

[2021-10-17 21:47] agkozak commented on #34
I just realized it's not that simple, is it? The prompt prints correctly, but then `pipestatus` becomes `0` again and the string disappears.

Let me look into this a bit more deeply.

[2021-11-04 09:58] ScottA38 opened #38 "Long branch names in git cannot be concatenated"
Hi,

Finally migrated to zsh on business PC, but I have really long branch names, generated by BitBucket branch generator on JIRA tickets

Is there some option that can be added to allow the branch name to be shortened with some ellipsis? Say to a specific char limit?

Looked into the extension source code but I understand nothing
![prompt](https://user-images.githubusercontent.com/32736033/140294

[2021-11-04 11:17] agkozak commented on #38
I'll try to come up with something for you. Would it be more helpful to be able to see the beginning of the branch name or the end of the branch name?

Also, which options have you set already? It looks as if you're using `AGKOZAK_MULTILINE=0` and `AGKOZAK_LEFT_PROMPT_ONLY=1`. Anything else? Thanks!

[2021-11-04 12:19] ScottA38 commented on #38
Thanks - currently
[code]
Start of the branch name :pray:

[2021-11-04 13:52] agkozak commented on #38
Try adding this:

[code]

The part that does the abbreviating is `%13>...>%6v%>>`. That means, "Display the branch name (`%6v`), but keep it down to `13` characters, using `...` to show that abbreviation has occurred. You can change the number `13` to whatever works.

Sorry this solution is ugly, but it's the first time anyone's asked to have the branch name abbreviated. If I get the feeling there

[2021-11-04 14:20] ScottA38 commented on #38
Thanks, I think I will just edit the source and hard-code this :+1:

[2021-11-04 14:22] ScottA38 commented on #38
Works like a charm
![image](https://user-images.githubusercontent.com/32736033/140330880-df70530e-3921-4366-b8f7-9ce51d44360c.png)

[2021-11-04 14:23] ScottA38 commented on #38
Works like a char
![prompt_updated](https://user-images.githubusercontent.com/32736033/140331059-10cf5a46-9613-4c1d-b11e-d9934c390bbc.png)
m

[2021-12-02 09:15] drivvn-jlrcc commented on #38
@agkozak I have been using the mod, all is good but when the dir is not a git repo then the prompt does not have the end char (`%`

[2021-12-02 09:19] ScottA38 commented on #38
@agkozak The provided fix works for me ok, when the directory does not have any git repo then the trailing (`%`) is missing

[2021-12-02 17:52] agkozak commented on #38
@ScottA38 Try this:

[code]

[2022-03-26 00:36] rob-eiq commented on #8
Just wanted to chime in here, that for me, all that was needed was to run `zsh` after sourcing.
I use an alias `sz="source ~/.zshrc && zsh"`

[2022-04-04 15:29] AndydeCleyre commented on #35
@mitomeo Can you try removing autosuggestions? That one is sometimes extra funky.

[2022-04-04 16:50] AndydeCleyre opened #39 "Under some conditions, when typing next cmd during previous cmd execution, prompt formatting gets mangled"
Hello!

Sometimes I begin typing the next command while the previous one is running, and this works, even with this bug. But the prompt display gets temporarily mangled in this event.

This is hard for me to reliably reproduce with a clean setup, and so I'm sorry for such a messy report.

I think that to reproduce we need:

- set the left-only prompt variable
- set my ridiculous custom RPROMPT
- b

[2022-04-04 20:32] agkozak commented on #39
Hello, @AndydeCleyre! Thanks for the report. I have seen something like that myself on occasion, but I have never been able to pinpoint the exact conditions. I'll give your configuration a try.

[2022-04-04 20:55] agkozak commented on #39
Your configuration is great -- I've gotten the problem to occur a couple of times already. I'll get to work on this.

[2022-04-04 22:49] agkozak commented on #39
I only seem to have this problem if I use `zdharma-continuum/fast-syntax-highlighting` (it doesn't happen with `zsh-users/zsh-syntax-highlighting`). In fact, I run into it reliably with a mere

    source /path/to/agkozak-zsh-prompt.plugin.zsh
    source /path/to/fast-syntax-highlighting.plugin.zsh

in my `.zshrc`, and `sleep 1`, followed by fast typing, at the command line -- as you pointed out.

[2022-04-05 02:07] AndydeCleyre commented on #39
Thanks! The FSH interaction was something I only considered while writing this issue, and your corroboration spurred me to try a bisect on FSH. Over here, it looks like the problem started with:

[code]

[2022-04-05 02:16] AndydeCleyre commented on #39
So I checked output of `setopt` just after that sets the options, from before that commit and in current master:

[code]

[2022-04-05 02:21] AndydeCleyre commented on #39
I'm currently testing with `promptsubst` added to the list. So far, so good.

[2022-07-02 11:13] #38 closed

[2022-07-14 18:00] AndydeCleyre commented on #39
I haven't seen this since locally reverting 08a4ce96953764f03d617f1c52e9a2a3ad6f58c2 in f-s-h. I'll open an issue there linked to this one.

[2022-07-14 19:01] agkozak commented on #39
Fascinating. Thanks for staying on top of this issue, @AndydeCleyre.